<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
      <title>Gratitude Journal</title>
  </head>

  <body>
    <p>Welcome to Gratitude Journal</p>
    <a href="/signup">signup</a>
    <a href="/login">login</a>
    <p><a href="mailto:gracekodes@gmail.com">Contact Dev</a></p>

  </body>
</html>
