<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
      <title>Gratitude Journal</title>
  </head>

  <body>
    <p>welcome</p>
    <a href="/signup">signup</a>
    <a href="login">login</a>
  
  </body>
</html>
