<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
      <title>Gratitude Journal</title>
      <link rel="stylesheet" href="./css/index.css">
      <link href="https://fonts.googleapis.com/css2?family=Urbanist&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="main">
      <p class="welcome">Welcome to Gratitude Journal</p>
      <img src="./images/pig.png">
      <p class="piggy">
        <span class="pink">H</span><span class="blue">a</span><span class="yellow">pp</span><span class="orange">y</span> <span class="pink">Pi</span><span class="green">gg</span><span class="orange">y</span>
      </p>


    </div>
    <p class="dev"><a href="mailto:gracekodes@gmail.com">Contact Dev</a></p>
    <div class="buttons">
      <a href="/signup"><button class="pink-button">Signup</button></a>
      <a href="/login"><button class="green-button">login</button></a>
    </div>

  </body>
</html>
