<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Log In</title>
</head>
<body>
  <!-- LOGIN FORM -->
  <form action="/login" method="post">
      <div class="form-group">
          <label>EMAIL</label>
          <input type="text" class="form-control" name="email">
      </div>
      <hr />
      <div class="form-group">
          <label>PASSWORD</label>
          <input type="password" class="form-control" name="password">
      </div>
      <hr />
      <button type="submit">Login</button>
    </form>
</div>
</body>
</html>
