<!-- views/login.ejs -->
<!doctype html>
<html>
  <head>
    <title>Log In</title>
  </head>
  <body>
    <form action="/login" method="post">
      <div>
        <% if (message) { %>
          <div><%= message %></div>
        <% } %>
        <label>EMAIL</label>
        <input type="text" class="form-control" name="email">
        <hr />
        <div>
          <label>PASSWORD</label>
          <input type="password" class="form-control" name="password">
        </div>
        <hr />
        <button type="submit">Log In</button>
      </div>
    </form>
  </body>
</html>
