<!DOCTYPE html>
<html>
  <head>
      <title>Profile</title>
  </head>
  <body>
    <p>Welcome!</p>
    <%= todaysDate%>

    <p>Log what you're grateful for today!</p>
    <form action="/profile" method="post" class="entryForm">
      <div class="form-group">
        <div>
          <span>I am grateful for</span>
          <input type="text" class="entryField" name="entry" placeholder="e.g. not being stuck in traffic despite the storm"/>
          <button type="submit" class="submit-entry">SUBMIT</button>
        </div>
      </div>
    </form>
    <div class="search-result">
      <ul>
        <% entries.forEach(entries => { %>
          <li><%= entries.content + " " %></li>
        <% }); %>
      </ul>
    </div>
    <a href="/logout">logout</a>
  </body>
</html>
