<!DOCTYPE html>
<html>
  <head>
      <title>Profile</title>
  </head>
  <body>
    <p>Welcome!</p>
    <%= todaysDate%>

    <p>Log what you're grateful for today!</p>
    <form action="/profile" method="post" class="entryForm">
      <div class="form-group">
        <div>
          <span>I am grateful for</span>
          <input type="text" class="entryField" name="entry" placeholder="e.g. not being stuck in traffic despite the storm"/>
          <button type="submit" class="submit-entry">SUBMIT</button>
        </div>
      </div>
    </form>

    <div class="entry-list">
      <% entries.forEach(entries => { %>
        <input type="checkbox" id="<%=entries._id%>" class="entry-list">
        <label for="<%=entries._id%>"><%= entries.content + " " %></label><br>
        <% }); %>
        <% if (entries.length > 0) {%>
          <button type="submit" class="delete-button">DELETE</button>
        <% } %>
    </div>

    <a href="/logout">logout</a>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="./js/entry.js"></script>

  </body>
</html>
